/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font: "Inter-Variable";
  --font-accent: "PressStart2P";
  --main-text-color: #000;

  --font-wgth: 400;
  --font-wgth-bold: 700;

  --header-logo-font-size: clamp(49px, 43.37px + 1.5vw, 65px);
  --header-title-font-size: clamp(14px, 10.83px + 0.85vw, 23px);

  --background-color: rgba(255, 255, 255, 1);

  --border-main: 2px solid #000;

  --bg-image: repeating-linear-gradient(
      90deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      0deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);

  --accent-color: #000;

  --contour-color: #000;
  --animation-fill-color: rgba(255, 0, 0, 1);
}
